* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
